
<!-- the map -->
<div class="containter" class="position-static">
  <div id="map">
  </div>
</div>
<!-- all content under the map -->
<div class="under-map">
  <!-- search form TODO change to input group -->
  <form action="/" method="GET">
  <h4>Search:</h4>
    <div class="d-flex w-100 justify-content-between" >
      <!-- search by magnitude -->
      <div class="form-inline container">
        <label for="search-magnitude">Magnitude:&nbsp;&nbsp;&nbsp;</label>
        <select id="search-magnitude" class="custom-select" name="magType">
          <option value="greaterThan" <%if(!searchTerms.mag.type || searchTerms.mag.type === "greaterThan") {%> selected  <% } %> >Greater Than</option>
          <option value="equalTo"  <%if(searchTerms.mag.type === "equalTo") { %> selected  <% } %>>Equal To</option>
          <option value="lessThan" <%if(searchTerms.mag.type === "lessThan") { %> selected  <% } %>>Less Than</option>
          <option value="all" <%if(searchTerms.mag.type === "all") { %> selected  <% } %>>All</option>
        </select>
        <input id="search-magnitude" class="form-control" type="number" step=".01" name="magValue" value="<%= searchTerms.mag.value || 3.5 %>">
      </div>
      <div class="form-inline container">
      <!-- search by  date -->
        <label for="search-time">Time:&nbsp;&nbsp;&nbsp;</label>
        <select id="search-time" class="custom-select" name="timeType">
          <option value="lastMonth" <%if(!searchTerms.time.type || searchTerms.time.type === "lastMonth") {%> selected  <% } %> >Last Month</option>
          <option value="lastHour" <%if(searchTerms.time.type === "lastHour") { %> selected  <% } %>>Last Hour</option>
          <option value="24Hr" <%if(searchTerms.time.type === "24Hr") { %> selected  <% } %>>Last 24</option>
          <option value="lastWeek"  <%if(searchTerms.time.type === "lastWeek") { %> selected  <% } %>>Last Week</option>
          <option value="all" <%if(searchTerms.time.type === "all") { %> selected  <% } %>>All Time</option>
      </select>
      </div>
    </div>
    <!-- begin test zone -->

    <!-- <div class="form-inline" >
      <input id="datepicker" width="276" name="date" />
    </div> -->

    <!-- end test zone -->
    <input class="btn btn-dark" type="submit">
  </form>
  <!-- list group of earthquakes -->
  <%= //result. %> 
  <div class="list-group">
    <% searchResults.forEach(result => { %>
     <% let date = new Date(result.time)  %>
    <div class="list-group-item">
      <div class="d-flex w-100 justify-content-between">
        <h4> <%= result.place %> </h4>
        <small class="text-muted"> <%= date %> </small>
        </div>
        <h5> <%= result.mag %>  </h5>
      <a href="/details/<%=result.id%> ">
        <p>details</p>
      </a>
    </div>        
  <% }); %>
  </div>
</div>

<!-- data for local js -->
<div id="dataDiv" 
data-mapkey=<%= mapKey %>
data-magvalue=<%= searchTerms.mag.value %>
data-magtype=<%= searchTerms.mag.type %>
data-timetype=<%= searchTerms.time.type %>
data-latitude=<%= match.center[0]; %>
data-longitude=<%= match.center[1]; %>>
</div>

<!-- mapbox js -->
<script src="https://api.mapbox.com/mapbox-gl-js/v1.9.1/mapbox-gl.js"></script>
<!-- axios client js -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<!-- local map js -->
<script src="/js/map-search.js"></script>
