
<!-- the map -->
<!-- <div class="container h-100"> -->
  <div class="row h-100">
    <div class="col-sm-4">
      <h1>List</h1>
      <%- //include('list'); %> 
    </div>
    <div class="col-sm-8" >
      <div id="map"></div>
    </div>
  </div>
<!-- </div> -->
  <!-- <div class="containter" class="position-static"> -->
    <!-- <div id="map"></div> -->
  <!-- </div> -->
<!-- all content under the map -->
<div class="under-map">
  <%- //include('search'); %> 
  <%- //include('list'); %> 
</div>

<!-- data for local js -->
<div id="dataDiv" 
data-mapkey=<%= mapKey %>
data-magvalue=<%= searchTerms.mag.value %>
data-magtype=<%= searchTerms.mag.type %>
data-timetype=<%= searchTerms.time.type %>
data-latitude=<%= match.center[0]; %>
data-longitude=<%= match.center[1]; %>>
</div>

<!-- mapbox js -->
<script src="https://api.mapbox.com/mapbox-gl-js/v1.9.1/mapbox-gl.js"></script>
<!-- axios client js -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<!-- local map js -->
<script src="/js/map-search.js"></script>
