<div class="column-container">
  <div class="col-sm-3 list-column bg-primary rounded-sm">
    <%- include('list'); %> 
  </div>   
  <div class="col-sm-9 map-column mt-2">
    <div class="search-controls-details-div bg-primary rounded-sm mb-2">
      <%- include('search'); %> 
    </div>
    <div class="map-style-controls-div mb-2 bg-primary rounded-sm">
      <%- include('style'); %> 
    </div>
    <div class="map-container">
      <div id="map"></div>      
    </div>
  </div>
</div>

<!-- data for local js -->
<div id="dataDiv" 
data-mapkey=<%= mapKey %>
data-magvalue=<%= searchTerms.mag.value %>
data-magtype=<%= searchTerms.mag.type %>
data-timetype=<%= searchTerms.time.type %>
data-latitude=<%= match.center[0]; %>
data-longitude=<%= match.center[1]; %>>
</div>

<!-- mapbox js -->
<script src="https://api.mapbox.com/mapbox-gl-js/v1.9.1/mapbox-gl.js"></script>
<!-- axios client js -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<!-- local map js -->
<script src="/js/map-search.js"></script>