<!-- list group of earthquakes -->
<%= //result. %> 
<div class="list-group">
  <% searchResults.forEach(result => { %>
   <% let date = new Date(result.time)  %>
  <div class="list-group-item">
    <div class="d-flex w-100 justify-content-between">
      <h6> <%= result.place %> </h6>
      <small class="text-muted"> <%= result.localTime %> </small>
    </div>
    <div class="d-flex w-100 justify-content-between">
      <p> Magnitude: <%= result.mag %>  </p>
      <div>
        <a class="btn btn-dark btn-sm" href="/details/<%=result.id%> ">Detail</a>
      </div>        
    </div>        
  </div>        
<% }); %>
</div>