<% if(!currentUser) { %>
  <!-- comments if user is logged out -->
    <div class="d-flex w-100">
      <p><a href="/auth/register">Register</a> or <a href="/auth/login">Login</a> to join in with the Quakebook community and comment on this earthquake!</p>
    </div>
    <% } else { %>
    <!-- comments if user is logged in -->
    <!-- comment form -->
    <form action="/details/<%= earthquake.id %>/comment " method="POST">
      <div class="form-group">
        <label for="text">Hi <%= userData.firstName %>, type your comment below:</label>
        <textarea type="text" class="form-control" name="text" required></textarea>
        <input class="btn btn-sm btn-dark" type="submit">
      </div>
    </form>
    <!-- comment list -->
    <div class="list-group">
      <% comments.forEach(comment => { %>
        <!-- user made the comment -->
        <% if(currentUser.id === comment.userId) { %>
          <!-- comment show tab -->
          <div class="list-group-item comment">
            <div class="d-flex w-100 justify-content-between">
                <h6> <a href="/users/<%= comment.userId %>"> You </a> said:</h6>
                <small class="text-muted"><%= comment.localTime %></small>
            </div>        
          <div class="tab-content">
            <div class="tab-pane fade show active" id="comment-show-<%= comment.id %>">
              <div class="container">
                <p><%= comment.text %></p>
              </div>
              <!-- nested tab controls -->
              <div class="d-flex w-100 flex-row-reverse">
                <ul class="list-inline">
                  <li class="list-inline-item"> 
                    <button type="button" class="btn btn-sm btn-warning" href="#comment-edit-<%= comment.id %>" class="" data-toggle="tab">Edit</button>
                  </li>
                  <li class="list-inline-item"> 
                    <form id="delete-form-<%= comment.id %>" method="POST" action="/details/<%= earthquake.id %>/comment/<%= comment.id %>/delete/?_method=DELETE"></form>
                    <button type="button" class="btn btn-sm btn-danger" onclick="document.getElementById('delete-form-<%= comment.id %>').submit();" >Delete</button>
                  </li>
                </ul>
              </div>
            </div>
            <!-- comment edit tab -->
            <div class="tab-pane fade" id="comment-edit-<%= comment.id %>">
              <form method="POST" action="/details/<%= earthquake.id %>/comment/<%= comment.id %>/edit/?_method=PUT">
                <textarea type="text" rows="3" class="form-control" name="commentTextEdit" ><%= comment.text %></textarea>
                <div class="d-flex w-100 justify-content-between">
                  <input class="btn btn-sm btn-dark" type="submit">
                  <!-- <button type="button" class="btn btn-sm btn-dark" href="#comment-show-<%=// comment.id %>" class="" data-toggle="tab">Cancel</button> -->
                </div>
              </form>
            </div>
          </div>
          <div class="container d-flex w-100 flex-row-start">
            <%- include('reply', { comment: comment }); %>
          </div>
        </div>
        <!-- comment from a different user-->
        <% } else { %>
        <div class="list-group-item comment">
          <div class="d-flex w-100 justify-content-between">
              <h6> <a href="/users/<%= comment.userId %>"> <%= comment.userName %> </a> said:</h6>
              <small class="text-muted"><%= comment.localTime %></small>
          </div>      
          <div class="container">  
            <p><%= comment.text %></p>
          </div>
          <!--  end testing... -->
          <div class="container d-flex w-100 flex-row-start">
            <%- include('reply', { comment: comment }); %>
          </div>
        </div>
          <% }  %>
     <% }) %>
    </div>
  <% } %>