
<!-- the map -->
<div class="containter" class="position-static">
  <div id="map">
  </div>
</div>
<!-- all content under the map -->
<div class="under-map">
  <!-- details for earthquake -->
  <%= //earthquake. %> 
  <div class="d-flex flex-column">
    <div class="d-flex w-100 justify-content-between">
      <div class="containter">
        <h4> <%= earthquake.place %> </h4>
      </div>
    </div>
      <div class="d-flex w-100 justify-content-between">
      <div class="containter">
        <small class="text-muted"> <%= earthquake.localTime %> </small>
      </div>
    </div>
    <div class="d-flex w-100 justify-content-between">
      <div class="containter">
        <h5>Mag:</h5>
        <h6><%= earthquake.mag %></h6>
      </div>
      <div class="containter">
        <h5>Depth:</h5>
        <h6><%= earthquake.depth %>km</h6>
      </div>
      <div class="containter">
        <h5>Latitude:</h6>
        <h6><%= earthquake.latitude %></h6>
      </div>
      <div class="containter">
        <h5>Longitude:</h5>
        <h6><%= earthquake.longitude %></h6>
      </div>
    </div>
    <% if(earthquake.alert === null) { %>
      <div class="d-flex w-100 justify-content-between">
        <h6>No alerts issued for this earthquake</h6>
      </div>
  <% } else if (earthquake.alert === "green") { %>
    <div class="d-flex w-100 justify-content-between">
      <h5><i class="fa fa-warning"></i>This earthquake was issued an alert level of green </h5>
    </div>
  <% } else if (earthquake.alert === "yellow") { %>
    <div class="d-flex w-100 justify-content-between">
      <h5><i class="fa fa-warning"></i>This earthquake was issued an alert level of yellow </h5>
    </div>
  <% } else if (earthquake.alert === "orange") { %>
    <div class="d-flex w-100 justify-content-between">
      <h5><i class="fa fa-warning"></i>This earthquake was issued an alert level of orange </h5>
    </div>
  <% } else if (earthquake.alert === "red") { %>
    <div class="d-flex w-100 justify-content-between">
      <h5><i class="fa fa-warning"></i>This earthquake was issued an alert level of red </h5>
    </div>
  <% } %>
  </div>
  <%- include('comment'); %>
</div>

<!-- data for local js -->

<% let latitude = earthquake.latitude; %>
<%  let longitude = earthquake.longitude; %>
<% let mapkey = mapKey; %>

<div id="dataDiv" 
data-mapkey=<%= mapKey %>
data-id=<%= earthquake.id %>
data-latitude=<%= latitude %>
data-longitude=<%= longitude  %>>
</div>

<!-- mapbox js -->
<script src="https://api.mapbox.com/mapbox-gl-js/v1.9.1/mapbox-gl.js"></script>
<!-- axios client js -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<!-- local map js -->
<script src="/js/map-details.js"></script>