  <!-- details for earthquake -->
  <%= //earthquake. %> 
  <div class="d-flex flex-column">
    <div class="d-flex w-100 justify-content-between">
      <div class="containter">
        <h4> <%= earthquake.place %> </h4>
      </div>
    </div>
      <div class="d-flex w-100 justify-content-between">
      <div class="containter">
        <small class="text-muted"> <%= earthquake.localTime %> </small>
      </div>
    </div>
    <div class="d-flex w-100 justify-content-between">
      <div class="containter">
        <h5>Mag:</h5>
        <h6><%= earthquake.mag %></h6>
      </div>
      <div class="containter">
        <h5>Depth:</h5>
        <h6><%= earthquake.depth %>km</h6>
      </div>
      <div class="containter">
        <h5>Latitude:</h6>
        <h6><%= earthquake.latitude %></h6>
      </div>
      <div class="containter">
        <h5>Longitude:</h5>
        <h6><%= earthquake.longitude %></h6>
      </div>
    </div>
    <!-- the warning box -->
    <div class="d-flex w-100 justify-content-between">
    <!-- alert status -->
    <% if(earthquake.alert === null) { %>
      <a href="https://pubs.usgs.gov/fs/2010/3036/pdf/FS10-3036.pdf" target="_blank">
        <h4> <span class="badge badge-info">No alerts issued for this earthquake</span></h4>
      </a>
  <% } else if (earthquake.alert === "green") { %>
    <a href="https://pubs.usgs.gov/fs/2010/3036/pdf/FS10-3036.pdf" target="_blank">
      <h4><span class="badge badge-success"><i class="fa fa-warning"></i>&nbsp;Alert Level Green </span></h4>
    </a>
  <% } else if (earthquake.alert === "yellow") { %>
    <a href="https://pubs.usgs.gov/fs/2010/3036/pdf/FS10-3036.pdf" target="_blank">
      <h4><span class="badge badge-warning"><i class="fa fa-warning"></i>&nbsp;Alert level Yellow</span></h4>
    </a>
  <% } else if (earthquake.alert === "orange") { %>
    <a href="https://pubs.usgs.gov/fs/2010/3036/pdf/FS10-3036.pdf" target="_blank">
      <h4><span class="badge badge-warning"><i class="fa fa-warning"></i>&nbsp;Alert Level Orange </span></h4>
    </a>
  <% } else if (earthquake.alert === "red") { %>
    <a href="https://pubs.usgs.gov/fs/2010/3036/pdf/FS10-3036.pdf" target="_blank">
      <h4> <span class="badge badge-danger"><i class="fa fa-warning"></i>&nbsp;ALert level Red </span></h4>
    </a>
  <% } %>
  <!-- tsunami -->
  <% if(earthquake.tsunami) { %>
    <a href="https://www.tsunami.gov/" target="_blank">
      <h4> <span class="badge badge-warning"><i class="fa fa-warning"></i>&nbsp;Tsunami Advisory </span></h4>
    </a>
  <% } %>
  <% if(earthquake.felt != null) { %>
    <a href="https://earthquake.usgs.gov/data/dyfi/" target="_blank">
      <h4> <span class="badge badge-info">Felt by <%= earthquake.felt %></span></h4>
    </a>
  <% } %>
  <a href="<%= earthquake.url %>" target="_blank">
    <h4> <span class="badge badge-secondary">more info</span></h4>
  </a>
  </div>
</div>