
<!-- the map -->
<div class="containter" class="position-static">
  <div id="map">
  </div>
</div>
<!-- all content under the map -->
<div class="under-map">

  <%- include('detail-show'); %>
  <%- include('comment'); %>
</div>

<!-- data for local js -->

<% let latitude = earthquake.latitude; %>
<%  let longitude = earthquake.longitude; %>
<% let mapkey = mapKey; %>

<div id="dataDiv" 
data-mapkey=<%= mapKey %>
data-id=<%= earthquake.id %>
data-latitude=<%= latitude %>
data-longitude=<%= longitude  %>>
</div>

<!-- mapbox js -->
<script src="https://api.mapbox.com/mapbox-gl-js/v1.9.1/mapbox-gl.js"></script>
<!-- axios client js -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<!-- local map js -->
<script src="/js/map-details.js"></script>