<div class="column-container">
  <div class="col-sm-3 list-column-comments">
    <%- include('comment'); %>
  </div>   
  <div class="col-sm-9 map-column">
    <div class="search-controls-details-div">
      <%- include('detail-show'); %>
    </div>
    <div class="map-style-controls-div">
      <h3>style controls todo</h3>
    </div>
    <div class="map-container">
      <div id="map"></div>
    </div>
  </div>
</div>

<!-- data for local js -->

<% let latitude = earthquake.latitude; %>
<%  let longitude = earthquake.longitude; %>
<% let mapkey = mapKey; %>

<div id="dataDiv" 
data-mapkey=<%= mapKey %>
data-id=<%= earthquake.id %>
data-latitude=<%= latitude %>
data-longitude=<%= longitude  %>>
</div>

<!-- mapbox js -->
<script src="https://api.mapbox.com/mapbox-gl-js/v1.9.1/mapbox-gl.js"></script>
<!-- axios client js -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<!-- local map js -->
<script src="/js/map-details.js"></script>